@use "../utilities/variables";
@use "../utilities/extend";

.info {
    padding: 3rem 1rem;
    max-width: 800px;
    margin: 0 auto;
}

.info-bloque {
    @extend %caja-blanca;
    padding: 2rem;
    margin-bottom: 2rem;
}

.info-titulo {
    color: variables.$color-primario;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.info-subtitulo {
    color: variables.$color-primario;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.info-texto {
    color: variables.$color-texto;
    line-height: 1.8;
}