@use "../utilities/variables";
@use "../utilities/mixins";

footer {
    @include mixins.flex-center(column);
    color: variables.$color-blanco;
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
    gap: 1rem;
}

.redes-container {
    @include mixins.flex-center(row);
    gap: 1.2rem;
}

.redes {
    width: 2.5rem;

    &:hover {
        transform: scale(1.15);
    }
}